<html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

<!--    <title>Express</title>-->
    <title>NILAB</title>
    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Chars CSS -->
    <link href="/vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Font -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body style="
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
">
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">NILAB</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse" aria-expanded="false" style="height: 1px;">
                    <ul class="nav in" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/" class="active"><i class="fa fa-dashboard fa-fw"></i> APIs</a>
                        </li>
                        <li class="">
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Spark<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                <li>
                                    <a href="/cluster">Cluster</a>
                                </li>
                                <li>
                                    <a href="/hdfs">Hdfs</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>
                        <li>
                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="panels-wells.html">Panels and Wells</a>
                                </li>
                                <li>
                                    <a href="buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="notifications.html">Notifications</a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                                <li>
                                    <a href="icons.html"> Icons</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grid</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level collapse">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li class="">
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                <li>
                                    <a href="blank.html">Blank Page</a>
                                </li>
                                <li>
                                    <a href="login.html">Login Page</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper" style="min-height: 923px; padding-left: 0px; padding-right: 0px;">
            <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Dashboard</a>
            </div>
            <!-- /.navbar-header -->

            
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse" aria-expanded="false" style="height: 1px;">
                    <ul class="nav" id="side-menu" style="
    width: 350px;
">
                        <li class="sidebar-search">
                            
<div class="input-group custom-search-form">
                                <!-- <input type="text" class="form-control" placeholder="Parameter"> -->
				<input id='paramater' class="form-control"name='paramater' type='text' placeholder='input paramater'style=" width: 200px; right: auto;">
                                <!-- <span class="input-group-btn"> -->
                                <button class="submit" type="button" style=" margin-left: 10px; height: 31px;">submit
                                    <!--<i class="fa fa-search"></i>-->
                                </button>
                            </span>
                            </div><div class="input-group custom-search-form" style="
    padding-top: 10px; 
">
    <button class="btn btn-default" style="background-color: transparent; border-color: transparent;">＋ Add APIs</button>
    <button class="btn btn-default" style="background-color: transparent; border-color: transparent;">＋ Add Files</button>
                               
                                
                            
                            </div>
                            <!-- /input-group -->
                        </li>
			<li>
				<p>
    <form id='list' action='/makeList' style=" height: 850px;">
      <select name='spkfile' size='6' id='select_APP' style="height: 852px;">
      </select>

      <select name='username' size='6' id='select_user' class='select_user' style="height: 852px;">
      </select>

      <select name='textfile' size='6' id='select_data' style="height:852px;">
      </select>
    </p>
                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper" style="min-height: 923px;margin-left: 350px;">
       <table border="0" style="
    /* width:  100%; */
    margin-top: 60px;
    margin-left:  auto;
    margin-right:  auto;
">
   <tbody>

   <tr>
    <td rowspan="2" style="">
<div id="wrapper" style=" border: 2px solid #999; width: 350px;">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/front">Frontend</a>
            </div>
            <!-- /.navbar-header -->


           <div class="navbar-default sidebar" role="navigation">
                <!-- <div class="sidebar-nav navbar-collapse collapse">
                  
                         
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li class="">
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                <li>
                                    <a href="flot.html">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="morris.html">Morris.js Charts</a>
                                </li>
                            </ul> 
                     
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>
                        <li>
                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="panels-wells.html">Panels and Wells</a>
                                </li>
                                <li>
                                    <a href="buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="notifications.html">Notifications</a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                                <li>
                                    <a href="icons.html"> Icons</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grid</a>
                                </li>
                            </ul>
                     
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level collapse">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>
                     
                                </li>
                            </ul>
                     
                        </li>
                        <li class="">
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                <li>
                                    <a href="blank.html">Blank Page</a>
                                </li>
                                <li>
                                    <a href="login.html">Login Page</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level --> 
                <!-- /.sidebar-collapse -->
            </div> 
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper" style="min-height: 645px; padding-left: 0px; padding-right: 0px;margin-left:0px">
            <div id="wrapper">
<!-- frontpart -->

<!--<form action="/yarnAll" method="GET">
	<button type=submit>button1</button>
 </form> -->
<!--<form action="/uploads" method="post" enctype="multipart/form-data">
      <input type="file" name="user_file" />
      <input type="submit" value="전송" />
</form>-->

<select id="allState" name="allState" size="14" style=" width: 100%; height:652px;"></select>
<!-- <h4 id="appState"></h4>-->
	<script>
		$('#startSparkBtn').click(function() {
			$.ajax({
				url: '/spark',
				type: 'GET',
				dataType: 'json',
				success: function(result) {
					console.log(result)
					$('#resultSparkTxt').html("result : "+result.result)
				},
				error: function(error)  {
					console.log(error)
				}
			})
		})
		$('#allState').change(function() {
			var application_id = $(this).val()
			$.ajax({
				url: '/appState',
				dataType: 'json',
				type: 'GET',
				data: {"id":application_id},
				success:function(result) {
					var elapsedTime = result.result.elapsedTime;
					var sec_gap = elapsedTime /1000;
					var min_gap = Math.floor(elapsedTime /1000/60);
					var hour_gap = Math.floor(elapsedTime / 1000 / 60 /60);
					var name = result.result.name;			
					$('#appState').html("id : " +result.result.id +"<br>" +"name : " +result.result.name +"<br>"+ "elapsedTime : "+ hour_gap + "시" + min_gap+ "분" +sec_gap + "초" + "<br>" + "startedTime : "+ new Date(result.result.startedTime).toString() + "<br>" + "finishedTime : "+ new Date(result.result.finishedTime).toString()+ "<br>" + "state : " + result.result.state)
				},	
				error:function(error) {
					console.log("error : " + error)	
				}
			})
		})
		$(document).ready(function() {
			setInterval( allRefreshState ,2000);
		});
var allStateLen = null
function allRefreshState() {	
	$.ajax({
				url: '/yarnAllState',
				dataType: 'json',
				type: 'GET',
				success:function(result) {
					var stateLen = result.result.length;
					$('#allState').attr("size", stateLen)
					if(allStateLen != stateLen) {
						$('#allState').empty();
						for(var i=0; i<stateLen; i++)
	  					{
							var id = result.result[i].id;
							var name = result.result[i].name;
							var state = result.result[i].state;
							var startedTime = new Date(result.result[i].startedTime).toString();
							if(result.result[i].state == "RUNNING")	{	
								$('<option id="'+id+'" class="'+state+'" value="'+ id +'" style="background-color:yellow">' + id + '</option>').appendTo('#allState');
							} else {		
								$('<option id="'+id+'" class="'+state+'" value="'+ id +'" style="background-color:gray">' + id +  '</option>').appendTo('#allState');
							}
						}
						allStateLen = stateLen;
					}
					else {
						for(var i=0; i<stateLen; i++) {
							var id = result.result[i].id;
							var name = result.result[i].name;
							var currentState = result.result[i].state;
							var beforeClass = $('#'+id).attr('class')
							var startedTime = new Date(result.result[i].startedTime).toString();
							
							if(beforeClass != currentState ) {
								$('#'+id).removeClass(beforeClass);
								$('#'+id).addClass(currentState);
								$('#'+id).html(id)
								//console.log(currentState)
								if(currentState == "ACCEPTED") {
									$('#'+id).attr('style','background-color:blue');
								} else if(currentState == "RUNNING") {
									$('#'+id).attr('style','background-color:yellow');
								} else if(currentState == "FINISHED") {
									$('#'+id).attr('style','background-color:gray');
								}
							}
						}
					}
					
				},
				error:function(error) {
					console.log("error : "+ error)
				}
			})
}
//////////////////////////////////////////////////////
$('.submit').click( function() {
      $('.result').html('처리중');
      $.ajax({
        url: '/spk',
        method: 'post',
        data: {
	'APP' : $('#select_APP option:selected').val(),
	'user' : $('#select_user option:selected').val(),
	'data' : $('#select_data option:selected').val(),
	'paramater' : $('#paramater').val()
	},
        dataType: 'json',
        success: function(result) {
          if(result){
            $('.result').html(result.result);
          }
        }
      });
    });
  </script>

  <script>
    $('#select_user').click( function() {
      $.ajax({
        url: '/spk',
        method: 'post',
        data: {
	'user' : $('#select_user option:selected').val()
	},
        dataType: 'json',
        success: function(result) {
          if(result){
	    $('#select_data').empty();
	    for(var i=1 ; i<result.datalist.length ; i++){
              $('#select_data').append('<option value='+result.datalist[i]+'>'+result.datalist[i]+'</option>');
	    }
          }
        }
      });
    });
	</script>
        
        <!-- /#page-wrapper -->

    </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/vendor/raphael/raphael.min.js"></script>
    <script src="/vendor/morrisjs/morris.min.js"></script>
    <!--<script src="/data/morris-data.js"></script>-->

    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>
</td>
    <td style="
    font-size: 80px;
"><img src="images/arrow.png"></td>
    <td><iframe src="http://192.168.2.10:3000/inbound" style="
    height: 365px;
"></iframe></td>
      <td style="
    font-size: 80px;
"><img src="images/arrow.png"></td>
      <td rowspan="2">
<div id="wrapper" style="border: 2px solid #999; width: 354px;">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/front">Frontend</a>
            </div>
            <!-- /.navbar-header -->


           <div class="navbar-default sidebar" role="navigation">
                <!-- <div class="sidebar-nav navbar-collapse collapse">
                  
                         
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li class="">
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                <li>
                                    <a href="flot.html">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="morris.html">Morris.js Charts</a>
                                </li>
                            </ul> 
                     
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>
                        <li>
                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="panels-wells.html">Panels and Wells</a>
                                </li>
                                <li>
                                    <a href="buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="notifications.html">Notifications</a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                                <li>
                                    <a href="icons.html"> Icons</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grid</a>
                                </li>
                            </ul>
                     
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level collapse">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>
                     
                                </li>
                            </ul>
                     
                        </li>
                        <li class="">
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                <li>
                                    <a href="blank.html">Blank Page</a>
                                </li>
                                <li>
                                    <a href="login.html">Login Page</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level --> 
                <!-- /.sidebar-collapse -->
            </div> 
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper" style="min-height: 645px; padding-left: 0px; padding-right: 0px;margin-left:0px">
            <div id="wrapper">
<!-- frontpart -->

<!--<form action="/yarnAll" method="GET">
	<button type=submit>button1</button>
 </form> -->
<!--<form action="/uploads" method="post" enctype="multipart/form-data">
      <input type="file" name="user_file" />
      <input type="submit" value="전송" />
</form>-->
<div class="appState">
	<h4 id="id">id : </h4>
	<h4 id="name">name : </h4>
	<h4 id="elapsedTime">elapsedTime : </h4>
	<h4 id="startedTime">startedTime : </h4>
	<h4 id="finishedTime">finishedTime : </h4>
	<h4 id="state">state : </h4>
</div>
<!-- <h4 id="appState"></h4>-->
	<script>
		$('#startSparkBtn').click(function() {
			$.ajax({
				url: '/spark',
				type: 'GET',
				dataType: 'json',
				success: function(result) {
					console.log(result)
					$('#resultSparkTxt').html("result : "+result.result)
				},
				error: function(error)  {
					console.log(error)
				}
			})
		})
		$('#allState').change(function() {
			var application_id = $(this).val()
			$.ajax({
				url: '/appState',
				dataType: 'json',
				type: 'GET',
				data: {"id":application_id},
				success:function(result) {
					var elapsedTime = result.result.elapsedTime;
					var sec_gap = elapsedTime /1000;
					var min_gap = Math.floor(elapsedTime /1000/60);
					var hour_gap = Math.floor(elapsedTime / 1000 / 60 /60);
					var name = result.result.name;			
					$('#appState').html("id : " +result.result.id +"<br>" +"name : " +result.result.name +"<br>"+ "elapsedTime : "+ hour_gap + "시" + min_gap+ "분" +sec_gap + "초" + "<br>" + "startedTime : "+ new Date(result.result.startedTime).toString() + "<br>" + "finishedTime : "+ new Date(result.result.finishedTime).toString()+ "<br>" + "state : " + result.result.state)
				},	
				error:function(error) {
					console.log("error : " + error)	
				}
			})
		})
		$(document).ready(function() {
			setInterval( allRefreshState ,2000);
		});
var allStateLen = null
function allRefreshState() {	
	$.ajax({
				url: '/yarnAllState',
				dataType: 'json',
				type: 'GET',
				success:function(result) {
					var stateLen = result.result.length;
					$('#allState').attr("size", stateLen)
					if(allStateLen != stateLen) {
						$('#allState').empty();
						for(var i=0; i<stateLen; i++)
	  					{
							var id = result.result[i].id;
							var name = result.result[i].name;
							var state = result.result[i].state;
							var startedTime = new Date(result.result[i].startedTime).toString();
							if(result.result[i].state == "RUNNING")	{	
								$('<option id="'+id+'" class="'+state+'" value="'+ id +'" style="background-color:yellow">' + id + '</option>').appendTo('#allState');
							} else {		
								$('<option id="'+id+'" class="'+state+'" value="'+ id +'" style="background-color:gray">' + id +  '</option>').appendTo('#allState');
							}
						}
						allStateLen = stateLen;
					}
					else {
						for(var i=0; i<stateLen; i++) {
							var id = result.result[i].id;
							var name = result.result[i].name;
							var currentState = result.result[i].state;
							var beforeClass = $('#'+id).attr('class')
							var startedTime = new Date(result.result[i].startedTime).toString();
							
							if(beforeClass != currentState ) {
								$('#'+id).removeClass(beforeClass);
								$('#'+id).addClass(currentState);
								$('#'+id).html(id)
								//console.log(currentState)
								if(currentState == "ACCEPTED") {
									$('#'+id).attr('style','background-color:blue');
								} else if(currentState == "RUNNING") {
									$('#'+id).attr('style','background-color:yellow');
								} else if(currentState == "FINISHED") {
									$('#'+id).attr('style','background-color:gray');
								}
							}
						}
					}
					
				},
				error:function(error) {
					console.log("error : "+ error)
				}
			})
}
//////////////////////////////////////////////////////
$('.submit').click( function() {
      $('.result').html('처리중');
      $.ajax({
        url: '/spk',
        method: 'post',
        data: {
	'APP' : $('#select_APP option:selected').val(),
	'user' : $('#select_user option:selected').val(),
	'data' : $('#select_data option:selected').val(),
	'paramater' : $('#paramater').val()
	},
        dataType: 'json',
        success: function(result) {
          if(result){
            $('.result').html(result.result);
          }
        }
      });
    });
  </script>

  <script>
    $('#select_user').click( function() {
      $.ajax({
        url: '/spk',
        method: 'post',
        data: {
	'user' : $('#select_user option:selected').val()
	},
        dataType: 'json',
        success: function(result) {
          if(result){
	    $('#select_data').empty();
	    for(var i=1 ; i<result.datalist.length ; i++){
              $('#select_data').append('<option value='+result.datalist[i]+'>'+result.datalist[i]+'</option>');
	    }
          }
        }
      });
    });
	</script>
        
        <!-- /#page-wrapper -->

    </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
</td>
   </tr>

   <tr>
      <td style="
    font-size: 80px;
"><img src="images/arrow1.png"></td>
    <td>
<div id="wrapper" style="border:2px solid #999;">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/outbound">Result</a>
            </div>
            <!-- /.navbar-header -->


           <div class="navbar-default sidebar" role="navigation">
                <!-- <div class="sidebar-nav navbar-collapse collapse">
                  
                         
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li class="">
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                <li>
                                    <a href="flot.html">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="morris.html">Morris.js Charts</a>
                                </li>
                            </ul> 
                     
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>
                        <li>
                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="panels-wells.html">Panels and Wells</a>
                                </li>
                                <li>
                                    <a href="buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="notifications.html">Notifications</a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                                <li>
                                    <a href="icons.html"> Icons</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grid</a>
                                </li>
                            </ul>
                     
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level collapse">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>
                     
                                </li>
                            </ul>
                     
                        </li>
                        <li class="">
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                <li>
                                    <a href="blank.html">Blank Page</a>
                                </li>
                                <li>
                                    <a href="login.html">Login Page</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level --> 
                <!-- /.sidebar-collapse -->
            </div> 
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper" style="min-height: 260px; padding-left: 0px; padding-right: 0px;margin-left:0px">
            <div id="wrapper">
<!-- frontpart -->

    <div class="result">결과</div>

   
<!-- <button id='startSparkBtn'>spark-submit</button>
<h4 id="resultSparkTxt">result : </h4> -->


        <!-- /#page-wrapper -->

    </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/vendor/raphael/raphael.min.js"></script>
    <script src="/vendor/morrisjs/morris.min.js"></script>
    <!--<script src="/data/morris-data.js"></script>-->

    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>
</td>
    <td style="
    font-size: 80px;
"><img src="images/arrow1.png"></td>
   </tr>
</tbody></table></div>
        <!-- /#page-wrapper -->

    </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/vendor/raphael/raphael.min.js"></script>
    <script src="/vendor/morrisjs/morris.min.js"></script>
    <!--<script src="/data/morris-data.js"></script>-->

    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>





    <p>
    
      <select name="spkfile" size="6" id="select_APP">
      </select>

      <select name="username" size="6" id="select_user" class="select_user">
      </select>

      <select name="textfile" size="6" id="select_data">
      </select>
    </p>

      <input id="paramater" name="paramater" type="text" placeholder="input paramater">
    


      <input id='paramater' name='paramater' type='text' placeholder='input paramater'>
    </form>
		<h3 id="appHelp">[사용방법]</h3>


    <button class="submit">spark-submit</button>

    <div class="result">결과</div>

    <form id='fileForm' method='post' enctype='multipart/form-data' action='/upload'>
	<input type='file' id='fileInput' name='fileInput'>
    </form>
    <button class='upload'>APP UPLOAD</button>

<!-- <button id='startSparkBtn'>spark-submit</button>
<h4 id="resultSparkTxt">result : </h4> -->

<br>
<br>
<select id="allState" name="allState" size="8"><option id="application_1533188467131_0008" class="FINISHED" value="application_1533188467131_0008" style="background-color:gray">application_1533188467131_0008</option><option id="application_1533188467131_0007" class="FINISHED" value="application_1533188467131_0007" style="background-color:gray">application_1533188467131_0007</option><option id="application_1533188467131_0006" class="FINISHED" value="application_1533188467131_0006" style="background-color:gray">application_1533188467131_0006</option><option id="application_1533188467131_0005" class="FINISHED" value="application_1533188467131_0005" style="background-color:gray">application_1533188467131_0005</option><option id="application_1533188467131_0004" class="FINISHED" value="application_1533188467131_0004" style="background-color:gray">application_1533188467131_0004</option><option id="application_1533188467131_0003" class="FINISHED" value="application_1533188467131_0003" style="background-color:gray">application_1533188467131_0003</option><option id="application_1533188467131_0002" class="FINISHED" value="application_1533188467131_0002" style="background-color:gray">application_1533188467131_0002</option><option id="application_1533188467131_0001" class="FINISHED" value="application_1533188467131_0001" style="background-color:gray">application_1533188467131_0001</option></select>
<div class="appState">
	<h4 id="id">id : </h4>
	<h4 id="name">name : </h4>
	<h4 id="elapsedTime">elapsedTime : </h4>
	<h4 id="startedTime">startedTime : </h4>
	<h4 id="finishedTime">finishedTime : </h4>
	<h4 id="state">state : </h4>
</div>
<script>
		$('#startSparkBtn').click(function() {
			$.ajax({
				url: '/spark',
				type: 'GET',
				dataType: 'json',
				success: function(result) {
					console.log(result)
					$('#resultSparkTxt').html("result : "+result.result)
				},
				error: function(error)  {
					console.log(error)
				}
			})
		})
		$('#allState').change(function() {
			var application_id = $(this).val()
			$.ajax({
				url: '/appState',
				dataType: 'json',
				type: 'GET',
				data: {"id":application_id},
				success:function(result) {
					var elapsedTime = result.result.elapsedTime;
					var sec_gap = elapsedTime /1000;
					var min_gap = Math.floor(elapsedTime /1000/60);
					var hour_gap = Math.floor(elapsedTime / 1000 / 60 /60);
					var name = result.result.name;			

					$('#id').html("id : "+result.result.id)
					$('#name').html("name : "+result.result.name)
					$('#elapsedTime').html("elapsedTime : "+  hour_gap + "시" + min_gap+ "분" +sec_gap + "초")
					$('#startedTime').html("startedTime : "+new Date(result.result.startedTime).toString())
					$('#finishedTime').html("finishedTime : "+ new Date(result.result.finishedTime).toString())
					$('#state').html("state : " + result.result.state)
				},	
				error:function(error) {
					console.log("error : " + error)	
				}
			})
		})
		$(document).ready(function() {
			allRefreshState();
			setInterval( allRefreshState ,2000);
		});

var allStateLen = null
function allRefreshState() {	
	$.ajax({
				url: '/yarnAllState',
				dataType: 'json',
				type: 'GET',
				success:function(result) {
					var stateLen = result.result.length;
					$('#allState').attr("size", stateLen)
					if(allStateLen != stateLen) {
						$('#allState').empty();
						for(var i=0; i<stateLen; i++)
	  					{
							var id = result.result[i].id;
							var name = result.result[i].name;
							var state = result.result[i].state;
							var startedTime = new Date(result.result[i].startedTime).toString();
							if(result.result[i].state == "RUNNING")	{	
								$('<option id="'+id+'" class="'+state+'" value="'+ id +'" style="background-color:yellow">' + id + '</option>').appendTo('#allState');
							} else {		
								$('<option id="'+id+'" class="'+state+'" value="'+ id +'" style="background-color:gray">' + id +  '</option>').appendTo('#allState');
							}
						}
						allStateLen = stateLen;
					}
					else {
						for(var i=0; i<stateLen; i++) {
							var id = result.result[i].id;
							var name = result.result[i].name;
							var currentState = result.result[i].state;
							var beforeClass = $('#'+id).attr('class')
							var startedTime = new Date(result.result[i].startedTime).toString();
							
							if(beforeClass != currentState ) {
								$('#'+id).removeClass(beforeClass);
								$('#'+id).addClass(currentState);
								$('#'+id).html(id)
								var state = ""
								console.log(currentState)
								if(currentState == "ACCEPTED") {
									state = "ACCEPTED"
									$('#'+id).attr('style','background-color:blue');
								} else if(currentState == "RUNNING") {
									state = "RUNNING"
									$('#'+id).attr('style','background-color:yellow');
								} else if(currentState == "FINISHED") {
									state = "FINISHED"
									$('#'+id).attr('style','background-color:gray');
								}
								if($('#allState option:selected').attr('id') == id) {
									$('#state').html("state : "+state)
								}
							}
						}
					}	
				},
				error:function(error) {
					console.log("error : "+ error)
				}
			})
}

$('.submit').click( function() {
      $('.result').html('처리중');
      $.ajax({
        url: '/sparkSubmit',
        method: 'post',
        data: {
	'APP' : $('#select_APP option:selected').val(),
	'user' : $('#select_user option:selected').val(),
	'data' : $('#select_data option:selected').val(),
	'paramater' : $('#paramater').val()
	},
        dataType: 'json',
        success: function(result) {
          if(result){
            $('.result').html(result.result);
          }
        }
      });
    });
    $('#select_user').click( function() {
      $.ajax({
        url: '/makeList',
        method: 'post',
        data: {
	'user' : $('#select_user option:selected').val()
	},
        dataType: 'json',
        success: function(result) {
          if(result){

	    $('#select_data').empty();
	    for(var i=1 ; i<result.datalist.length ; i++){
              $('#select_data').append('<option value='+result.datalist[i]+'>'+result.datalist[i]+'</option>');
	    }
          }
        }
      });
    });
    $(document).ready(function(){
      $.ajax({
        url: '/makeList',
        method: 'post',
        data: {
	'user' : $('#select_user option:selected').val()
	},
        dataType: 'json',
        success: function(result) {
          if(result){
	    for(var i=0 ; i<result.applist.length ; i++){
              $('#select_APP').append('<option value='+result.applist[i]+'>'+result.applist[i]+'</option>');
	    }
	    for(var i=1 ; i<result.userlist.length ; i++){
              $('#select_user').append('<option value='+result.userlist[i]+'>'+result.userlist[i]+'</option>');
	    }
	  }
	}
      });
		});
		$('#select_APP').change(function() {
			var appName = $(this).val()
			$.ajax({
				url:'appHelp',
				method: 'GET',
				dataType:'json',
				data: {"name" :appName},
				success: function(result) {
					var help = result.result.split("'''")[1]
					var helpParse = help.split("\n")
					data = ""
					for (var i=1; i<helpParse.length; i++) {
						data+= helpParse[i] + "<br>"
					}
					$('#appHelp').html(data)
				},
				error: function(error) {
					console.log("error" + error)
				}
			})
		})
  

    $('.upload').click(function(){
	var form = $('#fileForm')[0];
	var formData = new FormData(form);

	$.ajax({
	  url:'/upload',
	  processData: false,
	  contentType: false,
	  data : formData,
	  type: 'POST',
	  success: function(result){

		$('#select_APP').empty();

		for(var i=0 ; i<result.applist.length ; i++){
		  $('#select_APP').append('<option value='+result.applist[i]+'>'+result.applist[i]+'</option>');
		}
	  }
	});
    });

	</script>
  

</body></html>
